.capitals {
    text-transform: var(--textTransform);
}


tile {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: color-mix(in srgb, var(--background) 20%, white);
    color           : var(--color);
    text-transform  : var(--textTransform);
    border-radius   : var(--borderRadius, 9in);
    border          : solid;
    border-width    : var(--borderWidth, 0);
    padding         : .5rem;
    height          : 5rem;

    &.marked {
        outline       : 3px dotted crimson;
        outline-offset: 3px;
    }

    @media (hover: hover) {
        cursor: pointer;

        &:hover {
            outline       : 3px dotted crimson;
            outline-offset: 3px;
        }
    }

    &.hidden {
        opacity: 0;
    }

    h2 {
        color         : inherit;
        text-align    : center;
        text-transform: inherit;
        line-height   : 1.1rem;
    }

    @media screen and (max-width: 400px) {
        h2 {
            font-size: 1rem;
        }
    }
}
