:root {
    --color: crimson;
}

html {
    background-color: #fff;
}

body {
    font-family    : monospace;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 0;
}

header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 96vw;
    margin-block   : 1rem;
}

@media only screen and (orientation: landscape) {
    header {
        margin-block: .5rem -1rem;
    }
}

h1 {
    color      : var(--color);
    font-size  : 2rem;
    font-weight: bold;
}

button {
    background-color: var(--color);
    border          : none;
    color           : #fff;
    padding         : .5rem 1rem;
    border-radius   : .5rem;
    cursor          : pointer;
    font-weight     : bold;
}

.hide {
    opacity       : 0;
    pointer-events: none;
}
