:root {
    --color: crimson;
}

html {
    background-color: #fff;
}

body {
    font-family    : monospace;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

@media screen and (min-width: 400px) {
    body {
        margin: 0 auto;
    }
}

header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-inline  : calc(100vw /(var(--width) + 2));
}

h1 {
    color: var(--color);
}

button {
    background-color: var(--color);
    border          : none;
    color           : #fff;
    padding         : .5rem 1rem;
    border-radius   : .5rem;
    cursor          : pointer;
    font-weight     : bold;
}

.hide {
    opacity       : 0;
    pointer-events: none;
}
